@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Student>

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Page</h1>
</div>
<ul>
    @foreach (var student in Model)
    {
        <li>@student.Firstname @student.Lastname</li>
        <a asp-action="ShowDetails" asp-route-id="@student.Id" class="btn btn-secondary">Details</a>
        <a asp-action="Update" asp-route-id="@student.Id" class="btn btn-warning">Update</a>
        <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>

    }
</ul>
<a asp-action="Add" class="btn btn-info">
    <Address> new Student</Address>
</a>
