@{
    ViewData["Title"] = "Details Page";
}
@model Teacher

<h2>Teacher Details</h2>

<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.Id</dd>

    <dt class="col-sm-2">First name</dt>
    <dd class="col-sm-10">@Model.Firstname</dd>

    <dt class="col-sm-2">Last name</dt>
    <dd class="col-sm-10">@Model.Lastname</dd>

    <dt class="col-sm-2">Age</dt>
    <dd class="col-sm-10">@Model.Age</dd>

    <dt class="col-sm-2">Material</dt>
    <dd class="col-sm-10">@Model.Material</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>