@{
    ViewData["Title"] = "Event";
}
@model IEnumerable<Event>

<div class="text-center">
    <h1 class="display-4">Welcome to the Event Page</h1>
</div>

<div class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="searchTitle" placeholder="Search by Title" value="@ViewData["searchTitle"]" />
        <input type="date" name="searchDate" placeholder="Search by Date" value="@ViewData["searchDate"]" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="event-list">
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-action="Add" class="btn btn-info">
            new Event
        </a>
    }
    @foreach (var events in Model)
    {
        <div class="event-item">
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <a asp-action="Delete" asp-route-id="@events.Id" class="btn btn-danger">Delete</a>
                <a asp-action="Update" asp-route-id="@events.Id" class="btn btn-warning">Update</a>
            }
            <h3>Event: @Html.DisplayFor(m => events.Title)</h3>
            <ul>
                <li>Description: @Html.DisplayFor(m => events.Description)</li>
                <li>Event EventDate: @Html.DisplayFor(m => events.EventDate)</li>
                <li>Location: @Html.DisplayFor(m => events.Location)</li>
                <li>Maximum participants: @Html.DisplayFor(m => events.MaxParticipants)</li>
            </ul>
        </div>
    }
</div>