@{
    ViewData["Title"] = "Event";
}
@model List<Event>

<div class="text-center">
    <h1 class="display-4">Welcome to the Event Page</h1>
</div>

<div class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="searchTitle" placeholder="Search by Title" value="@ViewData["searchTitle"]" />
        <input type="date" name="searchDate" placeholder="Search by Date" value="@ViewData["searchDate"]" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="event-list">
    @if (User.IsInRole("Teacher"))
    {
        <a asp-action="Add" class="btn btn-info">
            New Event
        </a>
    }

    @foreach (var eventItem in Model)
    {
        <div class="event-item">
            <h3>Event: @Html.DisplayFor(m => eventItem.Title)</h3>
            <ul>
                <li>Description: @Html.DisplayFor(m => eventItem.Description)</li>
                <li>Event Date: @Html.DisplayFor(m => eventItem.EventDate)</li>
                <li>Location: @Html.DisplayFor(m => eventItem.Location)</li>
                <li>Participants: @eventItem.UserEvents.Count/@eventItem.MaxParticipants</li>
            </ul>

            
                @if (User.IsInRole("Teacher"))
                {
                    <a asp-action="Update" asp-route-id="@eventItem.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-route-id="@eventItem.Id" class="btn btn-danger">Delete</a>
                }
                @if (User.IsInRole("Student"))
                {
                    <!-- Formulaire pour que l'étudiant puisse rejoindre l'événement -->
                    <form method="post" asp-action="JoinEvent" asp-route-id="@eventItem.Id">
                        <button type="submit" class="btn btn-success" @if (eventItem.UserEvents.Count >= eventItem.MaxParticipants) {} >
                            @if (eventItem.UserEvents.Count >= eventItem.MaxParticipants) {
                                <text>Event Full</text>
                            }
                            else {
                                <text>Join Event</text>
                            }
                        </button>
                    </form>
                }
            
        </div>
    }
</div>
